<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

    <head th:insert="~{index :: navbar}"></head>

    <div class="min-vh-100 pb-5">

        <div class="container">

            <br>
            <br>

            <div class="col-12 col-md-6 offset-md-3">

                <div class="d-flex justify-content-center align-items-center">
                    <h1 th:text="${title}">
                        Inserisci un articolo
                    </h1>
                </div>

                <div class="col-12 py-5">

                    <form
                        th:action="@{/articles}"
                        method="POST"
                        th:object="${article}"
                        enctype="multipart/form-data">

                        <!-- Titolo -->
                        <div class="mb-3">

                            <label
                                for="articleTitle"
                                class="form-label">
                                Titolo
                            </label>

                            <input
                                id="articleTitle"
                                type="text"
                                class="form-control"
                                th:field="*{title}"
                                placeholder="Inserisci titolo">

                            <p
                                th:errors="*{title}"
                                class="text-danger"
                                th:if="${#fields.hasErrors('title')}">
                            </p>

                        </div>

                        <!-- Sottotitolo -->
                        <div class="mb-3">

                            <label
                                for="subtitle"
                                class="form-label">
                                Sottotitolo
                            </label>

                            <input
                                id="subtitle"
                                type="text"
                                class="form-control"
                                th:field="*{subtitle}"
                                placeholder="Inserisci sottotitolo">

                            <p
                                th:errors="*{subtitle}"
                                class="text-danger"
                                th:if="${#fields.hasErrors('subtitle')}">
                            </p>

                        </div>

                        <!-- Corpo -->
                        <div class="mb-3">

                            <label
                                for="body"
                                class="form-label">
                                Corpo
                            </label>

                            <input
                                type="text"
                                id="body"
                                class="form-control"
                                th:field="*{body}"
                                placeholder="Inserisci un testo">

                            <p
                                th:errors="*{body}"
                                class="text-danger"
                                th:if="${#fields.hasErrors('body')}">
                            </p>

                        </div>

                        <!-- Data pubblicazione -->
                        <div class="mb-3">

                            <label
                                for="publishDate"
                                class="form-label">
                                Pubblica data
                            </label>

                            <input
                                type="date"
                                id="publishDate"
                                class="form-control"
                                th:field="*{publishDate}">

                            <p
                                th:errors="*{publishDate}"
                                class="text-danger"
                                th:if="${#fields.hasErrors('publishDate')}">
                            </p>

                        </div>

                        <!-- Categoria -->
                        <div class="mb-3">

                            <label
                                for="category"
                                class="form-label">
                                Categoria
                            </label>

                            <select
                                id="category"
                                th:field="*{category}"
                                class="form-select">

                                <option
                                    value=""
                                    selected>
                                    Seleziona una categoria
                                </option>

                                <option
                                    th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">
                                </option>

                            </select>

                            <p
                                th:errors="*{category}"
                                class="text-danger"
                                th:if="${#fields.hasErrors('category')}">
                            </p>

                        </div>

                        <!-- Immagine -->
                        <div class="mb-4">

                            <label
                                for="image"
                                class="form-label">
                                Immagine
                            </label>

                            <input
                                type="file"
                                name="file"
                                id="image"
                                class="form-control">

                        </div>

                        <div class="mb-5">

                            <button
                                type="submit"
                                class="btn btn-success">

                                Crea articolo

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <head th:insert="~{index :: footer}"></head>

    <script th:replace="~{index :: bootstrapScript}"></script>

</body>

</html>